button {
  margin-top: 20px;
  padding: 10px 0;
  width: 150px;
  color: white;
  font-weight: 20px;
  background: #42b983;
}
button:disabled {
  opacity: 0.5;
}
.length-display {
  color: red;
}
.red-line {
  border: 1px red solid;
}
.red-border {
  border: 2px solid red;
}
input {
  height: 40px;
  width: 150px;
  font: 2rem;
}
.inline-validation {
  color: red;
}
